#head-wrapper {
  grid-area: header;
}
#main-wrapper {
  grid-area: main;
}
#menu-wrapper {
  grid-area: sidebar;
}

#page-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". header"
    "sidebar main";
}
