<mat-toolbar color="primary">
  <a routerLink="">
    <img  src="/assets/logo.png" alt="image">
  </a>

  <button class="navButton" color="primary" routerLink="" mat-raised-button>
    <span>Movies</span>
  </button>
  <button class="navButton" color="primary" routerLink="" mat-raised-button>
    <span>Series</span>
  </button>
  <button class="navButton" color="primary" routerLink="" mat-raised-button>
    <span>Genres</span>
  </button>
  <span class="spacer"></span>
  <button color="accent" routerLink="login" mat-raised-button>
    <span>Login</span>
  </button>
</mat-toolbar>
