<div id="page-wrapper">
  <div id="box-wrapper">
  </div>
  <div id="head-wrapper">
    <mat-toolbar color="primary">
      <h1>Dragons Inn</h1>
    </mat-toolbar>
  </div>
  <div id="menu-wrapper">
    <nav>
      <mat-list>
        <mat-list-item>
          <button color="primary" routerLink="register" mat-raised-button>
            Register
          </button>
        </mat-list-item>
        <mat-list-item>
          <button color="primary" routerLink="login" mat-raised-button>
            Login
          </button>
        </mat-list-item>
        <mat-list-item>
          <button color="primary" routerLink="tunes" mat-raised-button>
            Tunes
          </button>
        </mat-list-item>
        <mat-list-item>
          <button color="primary" routerLink="newTune" mat-raised-button>
            Submit Tune
          </button>
        </mat-list-item>
      </mat-list>
    </nav>
  </div>

  <main id="main-wrapper">
    <router-outlet></router-outlet>
  </main>
</div>


