#box-wrapper {
  grid-area: box;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
}

#head-wrapper {
  grid-area: header;
}

#head-wrapper mat-toolbar {
  margin: 0;
}

#menu-wrapper {
  grid-area: sidebar;
}

#main-wrapper {
  grid-area: main;
}

#page-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "box header"
    "sidebar main";
}

#menu-wrapper nav button{
  display: block;
  margin-bottom: 20px;
}
